{#
/* ⓢⓐⓣⓔⓒⓗⓐ.ⓒⓞⓜ
 * SaSlider by Satecha.com */

/**
 * This file uses a custom build of KineticJS. It is added in the build() function
 * of SasliderBlock.php and is used for image tweening. http://kineticjs.com
 *
 * Available variables:
 * - images: key value pair.
 *       key = image url
 *       val = image href
 * - width: The display width of the canvas.
 * - height: The display height of the canvas.
 * - transitionType: Type of tween.
 * - transitionSpeed: Speed of tween.
 * - duration: Time between tweens.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
    <!-- Saslider from Satecha.com -->
    <div id="saslider"></div>
    <script defer="defer">
        
        //Array of images to use
        var images = [];

        //Transition type (0 = fade, 1 = slide left, 2 = slide right)
        var transitionType = {{ transitionType }};

        //Transition speed
        var transitionSpeed = {{ transitionSpeed }};

        //Time between tweens
        var duration = {{ duration }} * 1000;

        //Kinetic stuff including w/h of canvas
        var imageLayer = new Kinetic.Layer();
        var stage  = new Kinetic.Stage({
            container: 'saslider',
            width: {{ width }},
            height: {{ height }}
        });
        
        //Timer that controls tweens. Uses 'duration' variable as interval.
        var transitionTimer = null;
        
        //Add rotate method to arrays
        Array.prototype.rotate = (function() {
            var unshift = Array.prototype.unshift;
            var splice = Array.prototype.splice;
            return function(count) {
                var len = this.length >>> 0;
                var count = count >> 0;
                unshift.apply(this, splice.call(this, count % len, len));
                return this;
            };
        })();

        //Pause slider when document is out of focus
        jQuery(window).blur(function() {
            window.clearInterval(transitionTimer);
        });
        
        //Unpause slider when document is back in focus
        jQuery(window).focus(function() {
            //Clear it just incase it's already running.
            window.clearInterval(transitionTimer);
            transitionTimer = setInterval(function() { transition() }, duration);
        });

        
        /**
         * Adds an image to the array
         * @param src
         */
        function createImage(src, label, url) {
            images.push(new Object());
            images[images.length - 1].image = new Image();
            images[images.length - 1].image.src = src;
            images[images.length - 1].label = label;
            images[images.length - 1].url = url;
        }


        //Add all images in the /banners/ directory
        {% set i = 0 %}
        {% for imageURL in images %}
            createImage('{{ imageURL }}', '{{ attribute(imageDetailsArray, 'label' ~ i) }}', '{{ attribute(imageDetailsArray, 'link' ~ i) }}' );
            {% set i = i + 1 %}
        {% endfor %}


        /**
         * Checks if images have all been loaded.
         * Upon success, add them to layer and start a timer that calls
         * the transition() method.
         */
        function checkIfImagesAreLoaded() {
            var imagesLoaded = true;
            //Check if all images have been loaded
            for(var i = 0; i < images.length; i++) {
                if(images[i].image.complete === false) {
                    imagesLoaded = false;
                }
            }
            //If images have been loaded, create Kinetic images from them.
            //Add them to the layer and add everything to the stage.
            if(imagesLoaded) {
                for(var i = 0; i < images.length; i++) {
                    var label = images[i].label;
                    var url = images[i].url;
                    
                    //Setup new kineticjs image
                    images[i].kinectImage = new Kinetic.Image({
                        x: 0,
                        y: 0,
                        image: images[i].image,
                        width: {{ width }},
                        height: {{ height }}
                    });
                    images[i].kinectImage.on('mouseup', function() {
                        if(url !== '') {
                            window.location.href = url;
                        }
                    });
                    //Add image to layer
                    imageLayer.add(images[i].kinectImage);
                    
                    //Setup new kineticjs text label
                    images[i].label = new Kinetic.Text({
                        x: 0,
                        y: 0,
                        text: label,
                        fontSize: 20,
                        fontFamily: 'Calibri',
                        fill: '#000000'
                    });
                    images[i].label.setX(stage.getWidth() - images[i].label.getWidth() - 10);
                    images[i].label.setY(stage.getHeight() - images[i].label.getHeight() - 8);
                    
                    //Add label to layer
                    imageLayer.add(images[i].label);
                }
                //Add the layer containing all the images to the stage
                stage.add(imageLayer);
                //Clear loaded check timer
                window.clearInterval(checkIfImagesAreLoadedTimer);
                //Start transitioning!
                transitionTimer = setInterval(function() { transition(); }, duration);
            }
        }
        
        
        //Create a timer that calls checkIfImagesAreLoaded() every 50 milliseconds
        //to check if images have been loaded.
        var checkIfImagesAreLoadedTimer = setInterval(function() { checkIfImagesAreLoaded() }, 50);


        /**
         * Performs a transition between images
         * @param newX
         * @param newOpacity
         */
        function tween(newOpacity, newX) {
             var imageTween = new Kinetic.Tween({
                node: images[images.length - 1].kinectImage,
                duration: transitionSpeed,
                x: newX,
                opacity: newOpacity,
                easing: Kinetic.Easings.EaseOut,
                onFinish: function() {
                    //Move last tweened image to bottom of layer
                    images[images.length - 1].kinectImage.moveToBottom();
                    //Reset default state of image
                    images[images.length - 1].kinectImage.setX(0);
                    images[images.length - 1].kinectImage.setOpacity(1);
                    imageLayer.draw();
                    //Rotate image array
                    images.rotate(-1);
                }
            });
            
            var labelTween = new Kinetic.Tween({
                node: images[images.length - 1].label,
                duration: transitionSpeed / 2,
                opacity: 0,
                easing: Kinetic.Easings.EaseOut,
                onFinish: function() {
                    //Move last tweened image to bottom of layer
                    images[images.length - 1].label.moveToBottom();
                    //Reset default state of image
                    images[images.length - 1].label.setOpacity(1);
                    imageLayer.draw();
                }
            });
            
            //Start image/label tweens.
            labelTween.play();
            imageTween.play();
        }


        /**
         * Perform an image transition based on what type was set in the
         * block configuration by the administrator.
         */
        function transition() {
            switch(transitionType) {
                case 0: //Fade
                    tween(0, 0);
                    break;
                case 1: //Slide Left
                    tween(1, -{{ width }} );
                    break;
                case 2: //Slide Right
                    tween(1, {{ width }} );
                    break;
            }
        }
        
        
    </script>
{% endspaceless %}